*.pyc 
*.swp 
<<<<<<<  HEAD 
*.swo 
======= 
model/test.db
>>>>>>>  b4c40987f779f2129921d98af7a67ceb466fbaf4 
#  C  extensions 
*.so 
logs
static
#  Packages 
*.egg 
*.egg-info 
dist 
build 
eggs 
parts 
bin 
var 
sdist 
develop-eggs 
.installed.cfg 
lib64 
__pycache__ 
__pycache__ 
#  Installer  logs 
pip-log.txt 

#  Unit  test  /  coverage  reports 
.coverage 
.tox 
nosetests.xml 

#  Translations 
*.mo 
data/
#  Mr  Developer 
.mr.developer.cfg 
.project 
.idea
.pydevproject
